body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #f0f7f7;
    margin: 0;
    padding: 0;
}
    
header {
    background-color: #5d9058; /* Vermelho do G1 */
    background-color: #5d9058;
    padding: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav {
   padding: 5px; /* Aumentando o padding para aumentar a área */
   display: flex; 
   justify-content: end;
   gap: 20px; /* Espaço entre os links do menu */
   align-items: center;
   width: 50%;
}
#menu{
  background-color: #5d9058;
  border: none;
}
#menu:hover{
  background-color: #2b5328;
}
nav a {
    
    
color: rgb(255, 255, 255); /* Cor dos links */
text-decoration: none; /* Remove o sublinhado */
font-size: 18px; /* Aumenta o tamanho da fonte dos links */
padding: 10px 15px; /* Adiciona padding para aumentar a área clicável */
}

nav a:hover {
    
   
background-color: #f5f5f5; /* Cor de fundo ao passar o mouse */
    border-radius: 4px; /* Cantos arredondados ao passar o mouse */
}

#divBusca{
    background-color:#ffffff;
    border-radius:10px;
    width: 160px;
    height:30px;
  }
  
  #txtBusca{
    padding-left: 10px;
    font-size:18px;
    width:90px;
    border-radius: 10px;
    border: none;
    outline: none; /* Remove a borda padrão do campo */
  }
  
  /* Estilo quando o input estiver em foco */
  #txtBusca:focus {
      outline: none; /* Remove a borda quando o campo está em foco */
      border: none; /* Certifique-se que nenhuma borda adicional será aplicada */
  }
  #btnBusca{
    border:none;
    float:right;
    height:32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background:#00000022;
  }
  
  #divBusca img{
    float:left;
    width: 24px; 
    height: 24px; 
    margin-right: 10px; 
  }
section{
    display: flex;

}
.dir, .esq{
  display: flex;
  flex-direction: column;
}
.maior{
    width: 850px;
    height: 515px;
    border: 2px solid black;
    margin: 40px;
}
.maior1{
    width: 850px;
    height: 220px;
    border: 2px solid black;
    margin: 40px;
}

  
.menor1{
    width: 500px;
    height: 215px;
    border: 2px solid black;
    margin: 40px;
}

.menor2{
  width: 500px;
  height: 215px;
  border: 2px solid black;
  margin: 40px;
}

.menor3{
  width: 500px;
  height: 220px;
  border: 2px solid black;
  margin: 40px;
}


  
